@model IEnumerable<webBancoGeneroso.Models.UsuarioSistema>

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro de Usuários</h1>

<div style="float: right;">
    <p>
        <a asp-action="Create" class="btn btn-primary">Novo Usuário</a>
    </p>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                <span>Nome</span>
            </th>
            <th>
                <span>E-mail</span>
            </th>
            <th>
                <span>Telefone</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Count() <= 0)
        {
            <tr>
                <td>
                    <span>Nenhum item cadastrado.</span>
                </td>
            </tr>

        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td width="30%">
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td width="20%">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td width="20%">
                        @Html.DisplayFor(modelItem => item.Telefone)
                    </td>
                    <td>
                        <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-light">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalhar</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
